# Core
Django                  # 62M
gunicorn
psycopg
requests                # 5M
whitenoise

# API
djangorestframework     # 5M
drf-spectacular         # 8M

# Lottery
django-ordered-model

# Tasks
celery                  # 17M
redis

# Development
ipdb                    # 29M
pipdeptree
flake8
flake8-pyproject
black
